.movie-card {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: 15px;
    color: #000;
    text-decoration: none;
}
@media (max-width: 420px) {
    .movie-card {
        grid-template-columns: 1fr;
        max-width: 300px;
        margin: 0 auto 40px;
    }
}
.movie-card-img {
    position: relative;
    padding-top: 150%;
}
.movie-card-img img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.movie-card p {
    font-size: 26px;
    font-weight: 500;
    margin: 20px 0;
}
@media (max-width: 420px) {
    .movie-card p {
        font-size: 20px;
        margin-bottom: 10px;
    }
}
.movie-card-info {
    padding-left: 20px;
}
.movie-card-star,
.movie-card-date {
    font-size: 14px;
}
.movie-card-date {
    margin-top: 10px;
}