.todos {
    margin-top: 30px;
}
.todo {
    padding: 0 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    position: relative;
}
.todo button {
    outline: none;
    padding: 2px 7px;
    cursor: pointer;
    border: none;
    background-color: burlywood;
    color: black;
    position: absolute;
    top: 0;
    right: 5px;
}